# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\data_intellij\fpoly\b5_hibernate\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
